
* {
    box-sizing: border-box;
}

strong {
	font-weight: 700;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 80px 0px;
    color: #333333;
    font-size: 16px;
    height: 100vh;
}

button, input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0px;
    font: inherit;
    color: inherit;
}

button, .participante, .visibilidade {
    cursor: pointer;
}

#interface {
    display: none;
}

.telaLogin {
    width: 100vw;
    height: calc(100vh - 160px);
    background: #FFFFFF;
}

.telaLogin, #caixaLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telaLogin img {
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
}

.telaLogin .logo {
    width: 130px;
    height: 100px;
    margin-bottom: 75px;
}

.erroServidor {
    margin-bottom: 15px;
    color: #FF6961;
    display: none;
}

.telaLogin input {
    border-radius: 5px;
    width: 260px;
    height: 50px;
    border: 1px solid #C7C7C7;
    font-size: 20px;
    padding: 0px 15px;
}

.telaLogin input::placeholder {
    color: #C7C7C7;
    text-align: center;
}

.telaLogin button {
    border-radius: 10px;
    width: 110px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    color: #696969;
    margin-top: 15px;
    font-size: 18px;
}

header, footer {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    left: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 0px 22px;
    top: 0px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    font-size: 44px;
}

header img {
    height: 55px;
    width: 75px;
}

aside, .fundoLateral {
    position: fixed;
    z-index: 2;
    height: 100vh;
    top: 0px;
}

.fundoLateral {
    display: none;
    width: 31.5vw;
    left: 0px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s linear;
}

.fundoPretoLateral {
    background: rgba(0, 0, 0, 0.55);
}

aside {
    transition: right 0.4s linear;
    right: -68.5vw;
    width: 68.5vw;
    background: #FFFFFF;
    padding: 25px 20px 10px 20px;
    overflow-y: scroll;
}

aside ion-icon {
    font-size: 26px;
    margin-right: 8px;
    flex-shrink: 0;
}

.verifParticipante, .verifVisibilidade {
    font-size: 16px;
    color: #38c035;
}

.verifSome {
    display: none;
}

.verifAparece {
    display: block;
}

#listaParticipante {
    margin-bottom: 35px;
}

#opcaoTodos {
    margin-top: 35px;
}

.participante, .visibilidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.participante div, .visibilidade div {
    display: flex;
    align-items: center;
    width: calc(100% - 30px);
}

#nomeParticipante {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}


aside h1 {
    text-align: center;
    margin-bottom: 25px;
}


.asideNaTela {
    right: 0px;
}

main {
    background: #F3F3F3;
    padding-top: 25px;
    height: calc(100vh - 160px);
    overflow-y: scroll;
    z-index: 0;
}

.mensagem {
    width: 100%;
    font-size: 14px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    line-height: 160%;
    word-break: break-all;
}

.mensagem span, .mensagem time {
    margin-right: 5px;
}

time {
    color: #C5C5C5;
}

.mensagemSairEntrar{
    background: #DCDCDC;
}

.mensagemReservada {
    background: #FFDEDE;
}

footer {
    padding: 15px 15px 15px 15px;
    bottom: 0px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

footer ion-icon {
    font-size: 32px;
}

footer p {
    font-weight: 100;
    letter-spacing: -0.5px;
}

footer em {
    word-break: break-all;
}

.containerEntrada {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    height: 100%;
    margin-right: 5px;
}

#enviarPara {
    word-break: break-all;
}

.caixaTexto {
    height: 20px;
    flex-shrink: 0;
    margin-bottom: 4px;
}

.caixaTexto::placeholder {
    font-style: italic;
}

::-webkit-scrollbar {
    display: none;
}
@media (min-width: 700px) {
    body {
        padding: 100px 0px;
    }
    footer, header {
        width: calc(70vw - 70px);
        left: 70px;
        box-shadow: none;
        border: 1px solid #C5C5C5;
        border-right: none;
    }

    footer {
        bottom: 20px;
    }

    header {
        top: 20px;
    }

    .telaLateralDesktop {
        position: fixed;
        width: calc(30vw - 70px);
        right: 70px;
        top: 20px;
        height: calc(100% - 40px);
        border: 1px solid #C5C5C5;
    }

    #interface {
        width: calc(70vw - 70px);
        margin-left: 70px;
        margin-right: 70px;
        border-left: 2px solid lightgrey;
    }

}